body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 0px;
    min-width: 800px;
}

.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d966;
    color: black;
    height: 100px;
    border: 1px solid #a3a2a2;
   
}

header h1, footer h1 {
    font-size: 3em;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 50px;
    border: 1px solid #a3a2a2;
}
.header{
    border-radius: 10px 10px 0 0;
}
.footer{
    border-radius: 0 0 20px 20px;
}

.nav div {
    width: 20%;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

main {
    display:flex;
    font-size: 1.5em;
    background-color: #ffffff;
    height: 400px;
    padding: 30px;
    border: 1px solid #a3a2a2;
}

.foto-space {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ad3e866;
    width: 70%;
    height: 100%;
    font-size: 1.5em;
    border: 1px solid #a3a2a2;
    min-width: 400px;
    max-width: 400px;
    border-radius: 10px;
}

.news-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0px 10px;
    
}
.news-cards-container2 {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 10px;
    border: 1px solid #a3a2a2;
    font-size: 1.5em;
    
}

.news-card {
    display: flex;
    flex-direction:column ;
    padding: 0 0 0 10px;
    margin: 1px;
    height: 50%;
}
.news-card2 {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 10px;
    margin: 10px;
    height: 30%;
}
.news-card2 p {
    margin-top: 0;
}
.news-card2 div {
    width: 33.33%;
}

.news-card h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    justify-content: center;
}